@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
}

header {
    text-align: center;
}

main {
    text-align: center;
}

.score-container {
    display: flex;
    justify-content: center;
}

.scores {
    padding: 10px;
    margin: 0;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: white;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin: 10px;
    font-family: inherit;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0;
}