@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 55%;
}

/* HEADER */

header {
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 20px;
    font-size: 3rem;
}

/* MAIN CONTENT */

.game-info {
    text-align: center;
    padding: 10px;
    font-size: 2.1rem;
}

#round-outcome {
    margin: 0;
}

.main-content {
    text-align: center;
    padding: 10px;
}

.score-container {
    display: flex;
    justify-content: center;
}

.scores {
    padding: 20px;
    margin: 0;
    max-width: 200px;
}

#player-scoreboard,
#computer-scoreboard {
    display: inline-block;
    width: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    margin: 10px;
    font-family: inherit;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    transform: scale(1);
}

.fa-solid {
    font-size: 3rem;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

footer p {
    padding: 10px;
    margin: 0;
}

.link {
    text-decoration: underline;
    color: black;
}

.link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}