@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
}

/* HEADER */

header {
    text-align: center;
}

/* MAIN CONTENT */

main {
    text-align: center;
}

.score-container {
    display: flex;
    justify-content: center;
}

.scores {
    padding: 20px;
    margin: 0;
    width: 200px;
}

#player-scoreboard,
#computer-scoreboard {
    display: inline-block;
    width: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    margin: 10px;
    font-family: inherit;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.link {
    text-decoration: underline;
    color: black;
}

.link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}